body {
    background-color: rgb(122, 122, 194); 
}
.b1{
margin: 20px 0px 0px 30%;
width: 200px;
height: 50px;
background-color: bisque;
color: green;
border-radius: 20px;
font-size: large;
}

.in1{
    font-size: 24px;
    width: 350px;
    height: 50px;
    box-shadow: 5px 5px 10px 5px;
    margin: 50px 0px 30px 30%;
}
.clear-button{
    margin: 20px 0px 0px 30%;
    width: 200px;
    height: 50px;
    background-color: bisque;
    color: green;
    border-radius: 20px;
    font-size: large;
}
.out{
    width: 350px;
    height: 50px;
    background-color: bisque;
    border: 2px solid green;
    margin: 20px 0px 0px 30%;;
    padding: 15px 0px 0px 15px;
    font-size: large;
}
.clear-button:hover{
    background-color: black;
}
.b1:hover{
    background-color: black;
}
